a.article{
    transition: transform 0.5s ease;
}

a.article:hover{
    transform: scale(1.05);
}


.article figure {
    max-height: 460px;
    overflow: hidden;
}
.article img{
    width: 100%;

}

