.bulle-icone.violet {
    background-color: #8b56a0;
}

.bulle-icone-bordure.violet {
    background-color: #400472;
}

.bulle-icone.vert_fonce {
    background-color: #2a5c02;
}

.bulle-icone-bordure.vert_fonce {
    background-color: #02330a;
}

.bulle-icone.tenebres {
    background-color: #83686a;
}

.bulle-icone-bordure.tenebres {
    background-color: #b66c82;
}

